.customInputBlock {
	width: 100%;
	height: 58px;
	border: 1px solid #CFD9DE;
	margin-top: 10px;
	border-radius: 4px;
	position: relative;
	transition: border-color 0.2s ease;
}

.customInputBlock.active {
	border: 2px solid #1D9BF0;
}

.customInput {
	width: 100%;
	height: 100%;
	padding: 12px 8px 8px;
	font-size: 17px;
	font-weight: 400;
	color: var(--black);
	resize: none;
	outline: none;
}


.customInputLabel {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 17px;
	font-weight: 400;
	color: #8E99A1;
	cursor: auto;
	transition: 0.2s ease;
}

.customInputLabel.activeBlue {
	color: #1D9BF0;
	font-size: 13px;
	top: 20%;
}

.customInputLabel.active {
	color: #8E99A1;
	font-size: 13px;
	top: 20%;
}

.customInputCounter {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	color: var(--gray);
}

.customInputBlock.descInput {
	width: 100%;
	margin-top: 20px;
}

.descInput .customInput.descInput {
	width: 100%;
	height: 100%;
	padding: 12px 8px 8px;
	font-size: 17px;
	font-weight: 400;
	color: var(--black);
}

.descInput .customInputLabel.activeBlue {
	color: #1D9BF0;
	font-size: 13px;
	top: 10%;
}

.descInput .customInputLabel.active {
	color: #8E99A1;
	font-size: 13px;
	top: 10%;
}

.descInput {
	height: 124px;
}

.descInput .customInput {
	width: 100%;
	height: 100%;
	padding: 12px 8px 8px;
	font-size: 17px;
	font-weight: 400;
	color: var(--black);
	position: relative;
	top: 20px;
	resize: none;
	outline: none;
}

.placeholderText {
	font-size: 22px;
	font-weight: 400;
	line-height: 20px;
	color: #8a9095;
	position: absolute;
	left: 6px;
	top: 20px;
}

.customInput.inputWithPlaceholder {
	padding-left: 30px;
}

.hindPasswordBlock {
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.2s ease;
	cursor: pointer;
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.hindPasswordBlock:hover {
	background-color: #E7E7E8;
}

.customInputBlock.disabled {
	background-color: #f7f7f8;
	border: none;
}

.customInputBlock.disabled label {
	color: #A9B1B8;
}

.customInputBlock.disabled input {
	color: #A9B1B8;
}

.customInputLabel.error {
	color: #F6444F !important;
}