.notFound {
	margin-left: 270px;
	min-width: 600px;
	height: 1664px;
	border-left: 1px solid #EFF3F4;
	border-right: 1px solid #EFF3F4;
}

.not-found-container {
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 25%;
	position: relative;
	top: -50px;
}

.not-found-content {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.not-found-heading {
	font-size: 2rem;
	margin: 1rem 0;
	color: var(--black);
}

.not-found-text {
	font-size: 1.2rem;
	margin: 0.5rem 0;
	color: var(--gray);
}

.not-found-button {
	padding: 0.5rem 1rem;
	background-color: var(--blue);
	color: #fff !important; 
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.2rem;
	transition: background-color 0.2s ease;
	margin-top: 10px;
	border-radius: 32px;
}

.not-found-button:hover {
	background-color: #1A8CD8;
}