.activeChatContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.activeChatTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
}

.activeChatUserAva {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.activeChatTopLeft {
	display: flex;
	align-items: center;
	gap: 10px;	
}

.activeChatUsername {
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	color: var(--black);
}

.activeChatTopRight {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s ease;
}

.activeChatTopRight:hover {
	background-color: #E7E7E8;
}

.activeChatMid {
	width: 100%;
	height: calc(80% + 82px);
	overflow-y: scroll;
}

.activeChatBottom {
	width: 100%;
	border-top: 1px solid #eff3f4;
	padding: 8px 16px;
	height: fit-content;
}

.activeChatBottomContainer {
	width: 100%;
	border-radius: 16px;
	background-color: #eff3f4;
	min-height: 44px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.activeChatBottomIcons {
	display: flex;
	align-items: center;
}

.activeChatBottomIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s ease;
}

.activeChatBottomIcon:hover {
	background-color: #DAEAF3;
}

.activeChatBottomIcon img {
	width: 18px;
	height: 18px;
}

.activeChatBottomInput {
	width: 400px;
	outline: none;
	resize: none;
}

.sendMessageBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s ease;
}

.sendMessageBlock:hover {
	background-color: #DAEAF3;
}

.sendMessageBlock.disabled:hover {
	background-color: #eff3f4;
	cursor: default;
}

.activeChatMidContainer {
	padding: 0px 16px;
}

.activeChatMidUserBlock {
	width: 100%;
	padding: 16px;
	cursor: pointer;
	transition: 0.2s ease;
	z-index: 1000;
	display: block;
	border-bottom: 1px solid #f0f4f5;
}

.activeChatMidUserBlock:hover {
	background-color: #F7F9F9;
}

.activeChatMidUserContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.activeChatMidUserAva {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	object-fit: cover;
}

.activeChatMidUserData {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.activeChatMidUsername {
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	color: var(--black);
}

.activeChatMidUserId,
.activeChatMidUserBio {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: var(--gray);
}

.activeChatMidUserBio {
	margin: 10px 0;
}

.activeChatMidUserJoinedAndFollowers {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: var(--gray);
	margin-bottom: 40px;
}

.activeChatMidMessagesBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 0;
}

.activeChatRepliedMessageBlock {
	width: 100%;
	background-color: #f7f7f9;
	border-left: 4px solid #242e36;
}

.activeChatRepliedMessageContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 12px;
}

.repliedMessageUserData {
	display: flex;
	flex-direction: column;
}

.repliedMessageUserData h3,
.repliedMessageUserData span {
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	color: var(--black);
}

.repliedMessageUserData span {
	font-weight: 400;
}







.sendMessageImgContainer {
	position: relative;
	max-width: fit-content;
	max-height: fit-content;
}

.sendMessageImg {
	max-width: 200px;
	max-height: 150px;
	border-radius: 16px;
	object-fit: cover;
}

.fileContainer {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}