.profileTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.listPageData {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.listPageName {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: var(--black);
}

.listPageDesc {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: var(--black);
}

.listItemInfoBottom.listPageUser .listItemInfoBottomUsername,
.listItemInfoBottom.listPageUser .listItemInfoBottomUserId {
	font-size: 15px;
	line-height: 20px;
}

.listItemInfoBottom.listPageUser img {
	width: 20px;
	height: 20px;
}

.listPageMembersAndFollowers {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: var(--gray);
}

.listPageMembersAndFollowers strong {
	color: var(--black);
}

.listPageData .editProfileButtons.following {
	margin: 20px 0px;
}

.postPageHr.listPageHr {
	width: 100%;
}

.addListFormContainer {
	padding: 12px 16px;
}

.addListForm.listPageForm {
	padding: 0;
}

.manageMembersBlock {
	width: 100%;
	padding: 12px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.2s ease;
	cursor: pointer;
}

.manageMembersBlock:hover {
	background-color: #F7F9F9;
}

.manageMembersBlock p {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: var(--black);
}

.deleteListBlock {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 22px;
	cursor: pointer;
	transition: 0.2s ease;
	color: #f4212e;
	border-bottom-left-radius: 16px;
}

.deleteListBlock:hover {
	background-color: #FEE8EA;
}

.addListBlock.active .currentCover {
	width: 594px;
}

.addListBlock.active .editProfileBackgroundAddPhotoIcons {
	top: 80px;
}

.addListContent {
	overflow: hidden;
	overflow-y: scroll;
	height: 598px;
}

.addListContent .profileTags {
	top: 0;
	margin-left: 0;
	margin-bottom: 20px;
}

.deleteListModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}

.deleteListModal.active {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000000;
}

.deleteListModal .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4)
}

.deleteListModalBlock {
	background-color: #fff;
	z-index: 1000001;
}

.deleteListModalContainer {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.deleteListModalContainer h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: var(--black);
}

.deleteListModalContainer span {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: var(--gray);
	width: 250px;
}

.deleteListModalBtnBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.deleteListModalBtnBlock button {
	width: 100%;
	padding: 16px 0;
	transition: 0.2s ease;
	border-radius: 32px;
}

.deleteListModalDeleteBtn {
	background-color: #f4212e;
	color: #fff;
}

.deleteListModalDeleteBtn:hover {
	background-color: #DC1E29;
}

.deleteListModalCancelBtn {
	border: 1px solid #cfd9de;
}

.deleteListModalCancelBtn:hover {
	background-color: #E7E7E8;
}

.listCoverImg {
	margin-top: 53px;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.listPageNoPosts {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.listPageNoPostsContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.listPageNoPostsContainer h1 {
	font-size: 31px;
	font-weight: 800;
	line-height: 36px;
	color: var(--black);
}

.listPageNoPostsContainer span {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: var(--gray);
}

.morePopupBlock {
	height: 0;
	width: 384px;
	border-radius: 16px;
	position: absolute;
	background-color: #fff;
	z-index: 10000;
	top: 5px;
	right: 0;
	overflow: hidden;
	transition: 0.2s ease;
	display: block;
}

.morePopupBlock.active {
	height: 80px;
	cursor: pointer;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.morePopupBlock.active:hover {
	background-color: #F7F9F9;
}

.morePopupContainer {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 12px 16px;
}

.morePopupTextBlock {
	height: 60px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.morePopupTextBlock h2,
.sharePopupItem h2 {
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	color: var(--black);
}

.morePopupTextBlock span {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: var(--gray);
}

.sharePopupBlock {
	height: 0;
	width: 240px;
	border-radius: 16px;
	position: absolute;
	background-color: #fff;
	z-index: 10000;
	top: 5px;
	right: 40px;
	overflow: hidden;
	transition: 0.2s ease;
	display: block;
}

.sharePopupBlock.active {
	height: 180px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.sharePopupItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 12px 16px;
	cursor: pointer;
	transition: 0.2s ease;
}

.sharePopupItem:hover {
	background-color: #F7F9F9;
}

.sharePopupItem img {
	width: 18px;
	height: 18px;
}

.alertBlock {
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	opacity: 0;
	transition: 0.2s ease;
	background-color: var(--blue);
	padding: 12px 24px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #fff;
}

.alertBlock.active {
	opacity: 1;
}