
.unregisteredBlock {
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 200px;
    background-color: #1D9BF0;
}

.unregisteredBlock.special  {
    width: calc(100% + 17px);
}

.unregisteredBlockContainer {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.unregisteredBlockTextContainer {
    margin-left: 200px;
}

.unregisteredBlockTitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #fff;
}

.unregisteredBlockText {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.unregisteredBlockButtonContainer {
    display: flex;
    align-items: center;
    gap: 13px;
}

.unregisteredBlockLogin {
    padding: 6px 16px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.unregisteredBlockLogin:hover {
    background-color: #34A5F2;
}

.unregisteredBlockRegister {
    padding: 6px 16px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: #eff3f4;
    border-radius: 16px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #0f1419;
    cursor: pointer;
    transition: 0.2s ease;
}

.unregisteredBlockRegister:hover {
    background-color: #D7DBDC;
}