.messagesMain {
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    width: 398px;
    height: 100vh;
    border-left: 1px solid #EFF3F4;
    border-right: 1px solid #EFF3F4;
}

.messagesMainContainer {
    padding: 12px;
}

.messagesMainTop {
    display: flex;
    justify-content: space-between;
}

.messagesMainTopTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--black);
}

.messagesMainIconsBlock {
    display: flex;
    gap: 3px;
}

.messagesMainIconBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: 0.2s ease;
    cursor: pointer;
}

.messagesMainIconBlock:hover {
    background-color: #E7E7E8;
}

.messagesMainIcon {
    width: 20px;
    height: 20px;
}

.messagesMainBottom {
    width: 324px;
    margin: 32px auto;
}

.messagesMainTitle {
    font-size: 31px;
    font-weight: 800;
    line-height: 36px;
    color: var(--black);
    margin-bottom: 5px;
}

.messagesMainText {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--gray);
}

.messagesMainButton {
    padding: 0px 32px;
    height: 52px;
    border-radius: 32px;
    background-color: var(--blue);
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    transition: 0.2s ease;
}

.messagesMainButton:hover {
    background-color: #1A8CD8;
}

.messagesRight {
    width: 600px;
    height: 100vh;
    border-right: 1px solid #EFF3F4;
}

.messagesRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: calc(50vh - 100px) auto 0;
    position: relative;
    left: 25px;
}

.messagesRightContainer .messagesMainButton {
    width: 178px;
}

.messagesRightContainer .messagesMainText {
    width: 335px;
}

.messagesSearchBlock {
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
}

.messagesSearchBlock.activeArrow {
    padding-left: 4px;
}

.messagesSearch {
    border: 1px solid #cfd9de;
    border-radius: 32px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.searchIconBlock {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagesSearch .searchIcon {
    width: 16px;
    height: 16px;
}

.messagesSearch input {
    width: 270px;
}

.messagesSearch input,
.messagesSearch input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #707376;
}

.messagesSearchArrow {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.messagesSearchArrow:hover {
    background-color: #E7E7E8;
}

.searchingNoResults {
    margin: 30px auto 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--gray);
}

.searchSwitchMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchSwitchMenuItem {
    padding: 16px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: var(--gray);
    position: relative;
}

.searchSwitchMenuItem:hover {
    background-color: #E7E7E8;
}

.searchSwitchMenuItem.active {
    font-weight: 700;
    color: var(--black);
}

.searchSwitchMenuItem.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 4px;
    width: 56px;
    background-color: var(--blue);
    border-radius: 9999px;
}